.App {
  text-align: center;
  font-family: "pressura_light";
  color: #9031f3;
  background-color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* calles css */

@font-face {
  font-family: "Favorit Light";
  src: url("./exp-mode/fonts/Favorit-Light.woff2") format("woff2"),
    url("./exp-mode/fonts/Favorit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("./exp-mode/fonts/Favorit-Medium.woff2") format("woff2"),
    url("./exp-mode/fonts/Favorit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "pressura_light";
  src: url("./exp-mode/fonts/gt-pressura-pro-mono-light-webfont.woff2")
      format("woff2"),
    url("./exp-mode/fonts/gt-pressura-pro-mono-light-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pressura_reg";
  src: url("./exp-mode/fonts/gt-pressura-pro-mono-regular-webfont.woff2")
      format("woff2"),
    url("./exp-mode/fonts/gt-pressura-pro-mono-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  /* cursor: none; */
  background-color: black;
}

.border {
  position: fixed;
  width: 98.5vw;
  height: 98vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  word-break: break-all;
  border-top: 1vh solid white;
  border-bottom: 1vh solid white;
  border-left: 0.75vw solid white;
  border-right: 0.75vw solid white;
  box-shadow: 0 0 0 2000px white;
  border-radius: 35px;
  margin: 0px;
  overflow: scroll;
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}
#stars {
  font-family: "Favorit Light";
  width: 100vw;
  height: 100vh;
  word-break: break-all;
  color: rgba(255, 255, 255, 0.562);
  opacity: 0.8;
  text-align: center;

  font-size: 16px;
  line-height: 7rem;
  z-index: 5;
}

#stars {
  word-break: break-all;
  text-align: left;
}

.arrow {
  display: inline-flex;
  justify-content: center;
  width: 7vw;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  z-index: 20;
  /* border: 1px solid blue; */
  /* box-shadow: 5px 5px 50px blue; */
}

.arrow1 {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px;
}
.arrow2 {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
}
.arrow3 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 20px;
}
.arrow4 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
}

.hole {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  -webkit-filter: blur(30px);
  z-index: 0;
  border-radius: 50%;
  box-shadow: 20px 10px 20px 20000px rgba(3, 0, 12, 0.95);
  -webkit-transition: all 0.1s ease;
}

.largehole {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 500px;
  height: 500px;
  -webkit-filter: blur(30px);
  z-index: 0;
  border-radius: 50%;
  box-shadow: 20px 10px 20px 20000px rgba(0, 0, 0, 0.95);
  -webkit-transition: all 0.2s ease;
}

.listcontainer {
  font-family: "pressura_reg";
  font-size: 0.6rem;
  text-align: right;
  color: yellow;
  right: 0px;
  top: 130px;
  z-index: 30;
  position: absolute;
  margin-right: 40px;
  cursor: pointer;
  opacity: 1;
  list-style: none;
}
.list {
  height: 60vh;
  overflow-y: scroll;
  list-style: none;
}

.box {
  width: 10px;
  height: 10px;
  background-color: white;
}

.buttonbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addbutton {
  z-index: 40;
  max-width: 50%;
}

.large {
  font-size: 50px;
}

.head-menu ul {
  list-style: none;
  padding: 0;
}
.head-menu li {
  display: inline;
  padding: 5px;
  margin: 5px;
  /* background-color: lightblue; */
  border-radius: 5px;
  font-weight: bold;
}
.head-menu a {
  text-decoration: none;
}
.auth-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  height: 200px;
  justify-content: space-between;
}

.navbar {
  padding: 20px;
  font-size: 1.5rem;
  background-color: none;
  display: flex;
  justify-content: space-between;
}
